[submodule "lisp/packages/irony-mode"]
	path = lisp/packages/irony-mode
	url = git@github.com:Sarcasm/irony-mode.git
[submodule "lisp/packages/slime"]
	path = lisp/packages/slime
	url = git@github.com:slime/slime.git
